body{
    background-color: burlywood;
}

h1{ 
    color: lemonchiffon;
    font-size: 600%;
    margin-left: 10%;
    margin-top: 5%
}

h2{
    color: saddlebrown;
    font-size: 400%;
    margin-left: 10%;
    margin-top: 5%
}

p{
    color: black ;
    margin-left: 10%;
    margin-right: 34%;
    margin-top: 0%
}

a{
    text-decoration: none;
    background-color: lemonchiffon;
    color: black;
    margin-left: 10%;
    margin-top: 0%
}

img{
    margin-left: 10%;
    margin-top: 0%
}

